body {
  font-family: $font-base;
  font-size: $font-size-base - 4px;
  padding-top: 1px;

  @include breakpoint($mobile) {
    font-size: $font-size-base - 2px;
  }

  @include breakpoint($tablet) {
    font-size: $font-size-base;
  }
}

strong {
  font-weight: $bold;
}

h1 {
  font-size: 2em;
  margin: 20px 0 10px;
  font-weight: $medium;
}

h2 {
  font-size: 1.3em;
  margin: 20px 0 15px;
  font-weight: $medium;
}

h3 {
  font-size: 1.1em;
  margin: 10px 0 5px;
  font-weight: $medium;
}
