// Base font family
$font-base: Roboto, 'Helvetica Neue', sans-serif;
$font-size-base: 16px;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Breakpoints
$desktop: 1024px;
$tablet: 768px;
$smartphone: 640px;
$mobile: 480px;
$iphone: 320px;

// Elements colors
$section-bg: #fff;
$document-bg: #fff;
