<h2>{{title}}:</h2>

<ul class="filter-by-genres__list">
  {{#each genres as |genre|}}
    <li class="filter-by-genres__item">
      {{#paper-checkbox value=genre.isSet onChange=(action (mut genre.isSet))}}
        {{genre.name}}
      {{/paper-checkbox}}
    </li>
  {{/each}}
</ul>

{{yield}}