@include block('items-list') {
  margin: 20px auto;
  background-color: $section-bg;

  @include element('item') {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  @include element('divider') {
    bottom: -10px;
  }

  @include element('poster') {
    max-width: 100%;
    height: auto;

    @include breakpoint($iphone) {
      max-width: 40%;
    }

    @include breakpoint($mobile) {
      max-width: 40%;
    }

    @include breakpoint($smartphone) {
      max-width: 30%;
    }

    @include breakpoint($desktop) {
      max-width: 20%;
    }
  }

  @include element('empty-msg') {
    padding: 20px 10px;
  }

  @include element('content') {
    padding-left: 10px;
  }

  @include element('genres') {
    font-size: 1em;

    @include breakpoint($smartphone) {
      font-size: 1.2em;
    }
  }
}
