<div class="movies-header">
  <h1 class="centered-content">List of most popular movies</h1>
</div>

{{!-- section for filtering by genre --}}
{{filter/by-genres genres=genres}}
{{!-- section for filtering by rating --}}
{{filter/by-rating rating=selectedRating}}
{{!-- list of movies --}}
{{listing/items-list items=filteredMovies}}

{{outlet}}